
.cymulate-nav{
    background-color: #282c34;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add this line for drop shadow */
    border-radius: 2px;
    position: relative;
    height: fit-content;
}
.cymate-nav-icon{
    display: flex;
    align-items: center;
}
.cymate-nav-icon-logo-image{
    width: 4vw;
    height:8vh;
    padding:8px 8px;
}
.cymate-nav-icon-logo-text{
    position: relative;
    right: 14px;
}
.cymate-nav-right-lists{
    display: flex;
    padding-right: 20px;
    gap: 30px;
    list-style: none;
    font-weight:600;
    font-size: x-large;
}
.cymulate-demo-text{
    position: relative;
    right: 20%;
    font-weight: lighter;
    font-size: x-large;
    color: rgb(0, 98, 255);
}
.cymulate-demo-text-globe{
    margin-right: 2px;
    color: white;
}
.cymulate-demo{
    position: relative;
    bottom: 5px;
}