/* Your updated CSS */

.cymate-body-right-menu {
  padding: 10px;
  background-color: #212028;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Change to 'auto' to enable scrolling if the content overflows */
  max-height: 89vh; 
  height: 99vh;
  z-index: 999;
}

.right-side-menu-items {
  align-items: center; 
  max-height: 100vh; 
  /* margin-bottom: 10px;  */
}


.logo-image {
  position: relative;
  bottom: 10px;
  height: 40px; /* Set the height of the image */
  width: auto; /* Allow the width to adjust proportionally */
}

.data-item {
  margin-bottom: 5px;
  
}

.data-item p {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
  line-height: 8px;
}
.adjustment{
  display :flex;
  align-items: center;
  gap: 20px;
}


.document-icon {
  margin-left: 40px; /* Adjust the spacing between text and icon */
  display: flex;
  align-items: center;
  color: rgb(76, 186, 76);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Choose your preferred color */
  margin: 10px 0; /* Adjust the spacing */
}

.slope-separator {
  width: 100%; /* Set the width to 100% of the parent element */
  height: 10px; /* Set the height to 10px */
  margin: 5px 0; /* Add some margin around the separator */
  border: 3px solid black;
  border-radius: 3px;
}

.separator-0 {
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(49, 131, 225) 100%);
}

.separator-1 {
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(255, 140, 0) 100%);
}

.separator-2 {
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(236, 81, 213) 100%);
}
.separator-3{
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(81, 236, 91) 100%);
}
.separator-4{
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(49, 131, 225) 100%);
}
.separator-5{
  background: linear-gradient(to right, black 0%, transparent 50%, rgb(236, 81, 213) 100%);
}
@media (max-width: 768px) {
  
  .data-item p {
    width: fit-content;
    font-size: 0.6rem;
  }
 
  .cymate-body-right-menu{
    max-width: 100vw;
  }
  .vector-p{
   position: relative;
   right: 10px;
  }
}