:root {
    --circle1-border-color: black;
    --circle2-border-color: rgb(31, 155, 31);
    --circle3-border-color: rgb(31, 155, 31);
    --circle4-border-color: rgb(249, 97, 123);
    --circle5-border-color: rgb(249, 97, 123);
    --circle6-border-color: yellow;
    --circle7-border-color: yellow;
    --circle8-border-color: rgb(140, 20, 140);
  }

.cymate-body{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
}
.cymate-body-right button {
    margin-top: 15px;
    margin-right: 2px;
    margin-bottom: 8px;
    padding: 2px 0px;
    color: #fff;
    width: 200px;
    font-size: 1.2em;
    font-weight: 300;
    background-color: #34333b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .cymate-body-right button:hover {
    background-color: #488cd7
  }
  .cymate-body-right button:active {
    background-color: #488cd7 /* Change to the color on click */
  }
  
/* SolarSystem.css */

.solar-system-background {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 100vh;
    z-index: -1;
    /* overflow-y: hidden;
    overflow-x: hidden; */
  }
  
  .solar-system-background .orbit {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-style: dotted;
    border-width: 1px;
    color: white;
    overflow: hidden;
  }
  
  .orbit1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 200px; 
    box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 1);
  }
  
   .orbit2 {
    width: 230px; 
    height: 230px; 
    box-shadow:  4px 0px 10px 1px rgba(31, 155, 31, 0.7)
  }
 
  .orbit3 {
    width: 420px; 
    height: 420px; 
    
  }
  .Lowermost-texts-body {
    /* Update the positioning for tablets */
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 28px;
    left: 150px; 
    top: 450px; /* Adjust as needed */
    z-index: 999999;
  }
  .Lowermost-texts-body span{
    font-weight: 600;
  }
  
  .orbit4 {
    width: 600px; 
    height: 600px; 
    box-shadow: inset 0 0 50px 5px rgba(0, 0, 0, 1),  2px 0px 10px 0px rgba(0, 162, 255, 0.7);
  }
   
  .orbit5 {
    width: 780px; 
    height: 780px; 
  }
  
  .orbit6 {
    width: 960px; 
    height: 960px; 
    box-shadow: inset 0 0 60px 5px rgba(0, 0, 0, 1);
  }
  
  .orbit7 {
    width: 1140px; 
    height: 1140px; 
  }
  .orbit8 {
    width: 1320px;
    height: 1320px;
    box-shadow: inset 0 0 70px 5px rgba(0, 0, 0, 1);
  }
  .overlaid-circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: #202028;
    top: 70%;
    right:520px;
    transform: translate(-50%, -50%);
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    border-radius: 50%;
   
    z-index: 2;
    --circle-border-color: var(--circle1-border-color); 
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 0 0 rgba(31, 155, 31, 1);
      box-shadow: 0 0 20px 10px rgba(31, 155, 31, 0);
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  .overlaid-circle2:before,
.overlaid-circle2:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
 
  box-shadow: 0 0 15px 5px var(--circle-border-color);
  --circle-border-color: var(--circle2-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle2:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle2:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle3:before,
.overlaid-circle3:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 0 0 15px 5px var(--circle-border-color);
  --circle-border-color: var(--circle3-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle3:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle3:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle4:before,
.overlaid-circle4:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 0 0 15px 5px var(--circle-border-color);
  --circle-border-color: var(--circle4-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle4:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle4:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle5:before,
.overlaid-circle5:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 0 0 15px 5px var(--circle-border-color);
  --circle-border-color: var(--circle5-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle5:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle5:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle6:before,
.overlaid-circle6:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 
  -2px 0 10px 2px  #fc1f65,
    2px 0 10px 2px  #ec7d2d;
    z-index: 2; 
  --circle-border-color: var(--circle6-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle6:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle6:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle7:before,
.overlaid-circle7:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 
    -2px 0 10px 2px  #fc1f65,
    2px 0 10px 2px  #ec7d2d;
    z-index: 2; 
  --circle-border-color: var(--circle7-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle7:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle7:after {
  animation: pulse 2s 1s ease-out infinite;
}
  .overlaid-circle8:before,
.overlaid-circle8:after {
  content: "";
  position: absolute;
  height: calc(100%);
  width: calc(100% );
  box-shadow: 0 0 15px 5px var(--circle-border-color);
  --circle-border-color: var(--circle8-border-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.overlaid-circle8:before {
  animation: pulse 2s ease-out infinite;
}

.overlaid-circle8:after {
  animation: pulse 2s 1s ease-out infinite;
}

  .overlaid-circle2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--circle2-border-color);
  }
  .overlaid-circle3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #313037;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--circle3-border-color);
    z-index: 2; /* Ensure the overlay appears above orbits */
  }
  .overlaid-circle4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--circle4-border-color);
    z-index: 2; /* Ensure the overlay appears above orbits */
  }
  .overlaid-circle5 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 85%;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--circle5-border-color);
    z-index: 2; 
  }
  .overlaid-circle6 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 90%;
    left: 110%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 
    -2px 0 10px 4px  #fc1f65,
    2px 0 10px 4px  #ec7d2d;
    z-index: 2; 
  }
  .overlaid-circle7 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 35%;
    left: 105%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 
    -2px 0 10px 2px  #fc1f65,
    2px 0 10px 2px  #ec7d2d;
    z-index: 2; 
    z-index: 2;
  }
  .overlaid-circle8 {
    position: absolute;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #313037;
    top: 63%;
    left: 115%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--circle8-border-color);
    z-index: 2; 
  }
  .circle-images {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
  }
  
  .circle-marks-denomi {
    position: relative;
    top: 6px;
    font-size: 0.8em; /* Adjust font size as needed */
    color: white;
  }
  .circle-marks-numin{
    position: relative;
    bottom: 20px;
    font-size: 2.5em;
    color: var(--circle5-border-color);
  }
 
  .circle-text {
    position: relative;
    bottom: 13px;
    font-size: 0.6em; /* Adjust font size as needed */
    color: white;
  }
  .circle2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orbit-1-data-cymulate-demo{
    color: rgb(0, 98, 255);
  }
  .overlaid-circle-bottom-image-container{
    position: relative;
    color: var(--circle2-border-color);
    padding: 5px;
    top: 30%;
    left: 15%;
    border: 1px solid var(--circle2-border-color) ;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
  }
  .overlaid-circle-top-image-container{
    position: relative;
    /* color: var(--circle2-border-color); */
    padding: 5px;
    bottom: 15px;
    left: 3%;
    border: 1px solid white;
    background-color: #282c34;
    color: white;

  }
  .dashboard-heading {
    position: relative;
    padding: 10px;
    bottom: 20px;
    color: rgb(0, 98, 255);
    background-color: #19161d;
    text-align: center;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .solar-system-background {
      width: 20%; 
      left: 60%;
      position: absolute;
      top: 5%;
      transform: translateX(-50%);
    
    }
    .cymate-body {
      height: 100%;
      flex-direction: column;
    }
  
    .cymate-body-sidebar {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
    }
  
  

    .cymate-body-right {
      position: relative;
      top: 20px;
      order: 2;
      display: flex;
      flex-direction: column; 
      align-items: center; 
     
    }
    
    .cymate-body-right button {
  position: relative;
  bottom: 80px;
  /* bottom: 720px; */
      /* margin-bottom: 10px;  */
    }

  .orbit-1-data-cymulate-demo{
    font-size: 0.5rem;
  }
  .orbit2,
  .orbit3,
  .orbit4,
  .orbit5,
  .orbit6,
  .orbit7,
  .orbit8 {
    display: none;
  }
  .orbit1 {
    position: relative;
    top: -50%;
    left: 10%;
    transform: unset;
    display: none;
  }
  
    .overlaid-circle1{
      display: none;
    }
    .overlaid-circle2,
    .overlaid-circle3,
    .overlaid-circle4,
    .overlaid-circle5,
    .overlaid-circle6,
    .overlaid-circle7,
    .overlaid-circle8 {
      width: 200px;
      height: 200px;
      position: relative;
      margin-bottom: 70px;
      top: 35%;
     left: -90px;
      transform: unset;
      display: block;
      /* margin: 10px 10px 10px;  */
    }

  .overlaid-circle2:before,
  .overlaid-circle2:after,
  .overlaid-circle3:before,
  .overlaid-circle3:after,
  .overlaid-circle4:before,
  .overlaid-circle4:after,
  .overlaid-circle5:before,
  .overlaid-circle5:after,
  .overlaid-circle6:before,
  .overlaid-circle6:after,
  .overlaid-circle7:before,
  .overlaid-circle7:after,
  .overlaid-circle8:before,
  .overlaid-circle8:after {
display: none;
  }
  
  
    .overlaid-circle-bottom-image-container,
  .overlaid-circle-top-image-container {
   
    border-radius: 50%;
    font-size: 0.8em;
    bottom: 30%;
    width: 1.5rem;
    height: 1.5rem;
  }
  .overlaid-circle-bottom-image-container{
    position: relative;
    top: 70px;
    left: 95px;
  }
  .overlaid-circle-top-image-container {
    position: relative;
    left: 73px;
    bottom: 18px;
  }
  

  .circle-marks-numin {
    position: relative;
    top: 5px;
     left: 40px;
    font-size: 4em;
    bottom: 8px;
  }
  .circle-marks-denomi {
    position: relative;
    top: 50px;
     left: 40px;
    font-size: 1.5em;
    bottom: 8px;
  }
.dashboard-heading{
  font-size: 1.5rem;
}
  .circle-text {
    position: relative;
    top: 20px;
    bottom: 4px;
    font-size: 1rem;
  }
  }